{% extends 'base.html'%}

{% load static %}

{% block content %}
<body class="d-flex h-100 text-center text-dark bg-light">  
    <div class="cover-container d-flex w-100 h-80 p-3 mx-auto flex-column">
        <main class="px-3">
            <img src="{% static 'images\thank.jpeg' %}" width="760" height="400" class="d-inline-block align-top" alt="">
            <p>{{v_name}}</p>
        </main>
    </div>   
</body>
<!--Copyrights:
    Otto, M. J. T. (n.d.). Bootstrap. Bootstrap. Retrieved May 22, 2022, from
    https://getbootstrap.com/
-->
{% endblock %}